
nav.navbar.navbar-toggleable-md.navbar-light
    div.navbar-header
        a(href="#").navbar-brand StudHub
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarButtons" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        span.navbar-toggler-icon
        </button>

    div.collapse.navbar-collapse#navbarButtons
         ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="/") Домівка
                    span.sr-only //(current)
             li.nav-item
                a(href="#").nav-link Вхід
            li.nav-item
                a(href="#").nav-link Реєстрація
         form.form-inline.my-2.my-lg-0
            input(type="text" placeholder="Пошук").form-control.mr-sm-2
            div.form-group.mr-sm-2
                select.form-control
                    label Шукати за:
                    option.form-control Назвою
                    option.form-control Автором
            <button class="btn btn-outline my-2 my-sm-0" type="submit">Search</button>

//onclick = openLogindialog()
    //,onclick = openregisterdialog()